lab2.cache
lab2.hw
lab2.ip_user_files
lab2.sim
lab2.xpr
lab2.cache/wt/project.wpc
lab2.sim/sim_1/behav/xsim/compile.bat
lab2.sim/sim_1/behav/xsim/compile.log
lab2.sim/sim_1/behav/xsim/elaborate.bat
lab2.sim/sim_1/behav/xsim/elaborate.log
lab2.sim/sim_1/behav/xsim/simulate.bat
lab2.sim/sim_1/behav/xsim/Test_behav.wdb
lab2.sim/sim_1/behav/xsim/Test_vlog.prj
lab2.sim/sim_1/behav/xsim/xelab.pb
lab2.sim/sim_1/behav/xsim/xvlog.log
lab2.sim/sim_1/behav/xsim/xvlog.pb
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsim.dbg
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsim.mem
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsim.reloc
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsim.rlx
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsim.rtti
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsim.xdbg
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsimk.exe
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsimkernel.log
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/xsimSettings.ini
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/obj/xsim_0.win64.obj
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/obj/xsim_1.c
lab2.sim/sim_1/behav/xsim/xsim.dir/Test_behav/obj/xsim_1.win64.obj
lab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@sorting@block.sdb
lab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@sorting20@full.sdb
lab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@sorting20@line.sdb
lab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/@test.sdb
lab2.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
